.custom-container {
  container-type: inline-size;
}

.custom-card {
  width: 100%;
  max-width: 18rem;
  flex: 1 1 auto;
  overflow: hidden;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;

  .card-img-top {
    width: 100%;
    object-fit: cover;
  }

  @container (min-width: 300px) {
    .card-img-top {
      aspect-ratio: 4 / 3;
    }
  }

  @container (max-width: 299px) {
    .card-img-top {
      height: 140px;
    }
  }
}
