* {
  box-sizing: border-box;
}

.app {
  height: 100%;
  margin: 0;
  padding: 0;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex-direction: column;
  font-size: clamp(14px, 2vw, 18px);
  line-height: 24px;
  font-family: $font-family-serif;
}

.content {
  flex: 1;
  margin: 0;
  padding: 1rem;
  overflow: auto;
  background-color: tint-color(map-get($theme-colors, "verde-claro"), 40);
}
